.bg{
    background-color:#1e1d1d;
}
h1{
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: 9px 9px 19px #F8FFAE;
}
h2{
    color: white;
    text-shadow: 2px 2px 9px #000C40;
}
.in{
    display: inline;
    margin: 10px;
    padding: 10px;
}
.blk{
    display: block;
   
    margin: 10px;
    padding: 10px;
}
.inb{
    display: inline-block;
    
    margin: 10px;
    padding: 10px;
    
}

.block{
    display: block;
}
img{
    filter: drop-shadow(5px 5px 10px #F8FFAE);
    margin: 20px;
}